body {
  background-color: #FFEDD4;

  margin: 0;
  font-family: "abc", Open Sans, system-ui, sans-serif;
}
div,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

p {
  color: #62605d;
  font-weight: 400;
}

p2 {
  color: #62605d;
  font-weight: 400;
  font-size: 17px;
}

* {
  -webkit-font-smoothing: antialiased;
}

.logo {
  position: absolute;
  left: 10%;
  top: 30px;
}

.logo-small {
  width: 40px;
  display: none;
  left: 5%;
}

.logo-full {
  display: block;
  width: 130px;
}

.hero {
  background: no-repeat url(./assets/hero.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 100px 10% 0 10%;
}

.container {
  display: grid;
  /* justify-content: space-between; */
  /* align-items: center; */
  max-width: 1200px;
  padding: 0px 0 200px 0;
  margin: auto;
  width: 100%;
  grid-template-columns: 40%  60%;
  height: 100vh;
}

.hero-container {
  margin-top: 40px;
}

.hero-container > h1 {
  font-family: "gtmr", Open Sans, system-ui, sans-serif;
  letter-spacing: -1px;
  font-weight: 900;
  font-size: 44px;
  line-height: 55px;
  padding-bottom: 20px;
  max-width: 80%;
}

.hero-container p {
  font-size: 19px;
  line-height: 32px;
  max-width: 570px;
}

.small-text {
  margin-top: 10px;
  margin-left: 5px;
  font-size: 16px !important;
}

.small-text a {
  color: #62605d;
}


.cta-btn {
  padding: 12px 0;
  width: 280px;
  border-radius: 15px;
  background: #fac7ab;
  font-weight: 700;
  text-align: center;
  color: #62605d;
  font-size: 22px;
  cursor: pointer;
  transition: 150ms ease-in;
  margin-top: 38px;
}

.cta-btn:hover {
  opacity: 0.6;
}

.footer-container {
  background-color: #fff7ef;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding-bottom: 60px;
}

.footer-links-container {
  text-align: center;
  padding: 0 20%;
  display: flex;
  justify-content: center;
}
.footer-links-inner-container {
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 60px;
  padding-top: 50px;
}

.footer-links-inner-container a {
  text-decoration: none;
  color: #62605d;
  font-size: 17px;
  transition: 150ms ease-in;
  padding: 5px;
}

.footer-links-inner-container a:hover {
  opacity: 0.6;
}

.footer-container p {
  text-align: center;
  padding: 0 3%;
  font-size: 12px;
}

.disclaimer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.disclaimer p {
  max-width: 1200px;
}

.inc-text {
  font-size: 14px;
  text-align: center;
}

/* Terms */
.terms-body a {
  color: #ff7c7c;
  text-decoration: none;
}

.terms-subheading {
  max-width: 700px;
  font-size: 18px;
  padding: 0 10%;
  margin-top: 5px;
}

#terms {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  margin: auto;
}

#terms > h1 {
  font-family: "gtmr", Open Sans, system-ui, sans-serif;
  letter-spacing: -1px;
  font-weight: 900;
  font-size: 44px;
  line-height: 55px;
  text-align: center;
  padding-top: 60px;
}

#terms > p {
  text-align: center;
}

.terms-body {
  padding: 0 10% 120px 10%;
}

.terms-logo {
  position: absolute;
  top: 30px;
  left: 10%;
}

.donut-image-mobile {
  display: none;
  width: 80%;
  max-width: 300px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 1000px) {
  .logo-small {
    display: block;
  }

  .logo-full {
    display: none;
  }
  .hero {
    padding-top: 40px;
  }
  .container {
    width: unset;
    padding-bottom: 120px;
  }
  .hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
  }

  .hero-container h1 {
    text-align: center;
  }

  .hero-container p {
    text-align: center;
  }

  .small-text {
    text-align: center;
  }

  .donut-image {
    display: none;
  }
  .donut-image-mobile {
    display: block;
  }

  .footer-container p {
    padding: 0 10%;
  }

     .footer-container p:first-child {
       text-align: left;
     }

  .terms-logo {
    left: 5%;
  }
}

@media only screen and (max-width: 600px) {
  .hero {
    padding-top: 10px;
  }
  .hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero-container h1 {
    font-size: 28px;
    line-height: 36px;
  }
  .hero-container p {
    font-size: 18px;
    line-height: 32px;
  }
  .small-text {
    font-size: 16px !important;
  }
  .container {
    /* padding-top: 30px; */
    padding-bottom: 100px;
  }
  .cta-btn {
    font-size: 20px;
  }
  .footer-links-inner-container {
    flex-direction: column;
    padding-bottom: 15px;
  }
  .footer-links-inner-container a {
    padding: 10px;
  }
  /* Terms */
  #terms h1 {
    font-size: 30px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 80px;
    line-height: 40px;
  }
}

@media only screen and (max-width: 375px) {
  .cta-btn {
    width: 95%;
  }
}

@font-face {
  font-family: "gtmr";
  src: url("./assets/fonts/gtmrblk.woff2") format("woff2"),
    url("./assets/fonts/gtmrblk.woff") format("woff"),
    url("./assets/fonts/gtmrblk.otf") format("opentype");
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "gtmr";
  src: url("./assets/fonts/gtmrbld.woff2") format("woff2"),
    url("./assets/fonts/gtmrbld.woff") format("woff"),
    url("./assets/fonts/gtmrbld.otf") format("opentype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "gtmr";
  src: url("./assets/fonts/gtmrmd.woff2") format("woff2"),
    url("./assets/fonts/gtmrmd.woff") format("woff"),
    url("./assets/fonts/gtmrmd.otf") format("opentype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "abc";
  src: url("./assets/fonts/abcr.woff2") format("woff2"),
    url("./assets/fonts/abcr.woff") format("woff"),
    url("./assets/fonts/abcr.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "abc";
  src: url("./assets/fonts/abcb.woff2") format("woff2"),
    url("./assets/fonts/abcb.woff") format("woff"),
    url("./assets/fonts/abcb.otf") format("opentype");
  font-style: normal;
  font-weight: 900;
}